<div>
   <h1>Here is a {{beer}} template</h1>
   <h2>Pro:</h2>
   <ol>
      <li v-for="pro in pros">
         <span><strong>{{pro.text}}: </strong></span>
         <span>{{pro.value}}</span>
      </li>
   </ol>
   <span v-if="pros.length === 0"><i>There are no pros</i></span>
   <h2>Cons:</h2>
   <ol>
      <li v-for="con in cons">
         <span><strong>{{con.text}}: </strong></span>
         <span>{{con.value}}</span>
      </li>
   </ol>
      
   <div>
      <h2>Total:</h2>
      <p>{{overal}}</p>
   </div>
</div>
